<%- include('partials/header', { title: title }) %>

<main>
    <div class="container">
        <h1><%= title %></h1>
        <h2>We offer these categories of service opportunities:</h2>
        
        <ul class="categories-list">
            <% categories.forEach(category => { %>
                <li><%= category.name %></li>
            <% }); %>
        </ul>
    </div>
</main>

<%- include('partials/footer') %>