<%- include('partials/header') %>

    <main>
        <h1><%= title %></h1>
        <h2>We offer these categories of service opportunities:</h2>
        <ul>
            <li>Environmental</li>
            <li>Educational</li>
            <li>Community Service</li>
            <li>Health and Wellness</li>
        </ul>
    </main>
<%- include('partials/footer') %>